<br>
<br>
<br>
<br>
<div class="container">

    <form method="post"  action="./login">
        <div class="form-group">
            <label for="username">Example label</label>
            <input type="text" class="form-control" name="username" placeholder="Example input">
        </div>
        <br><br>
        <br>

        <div class="form-group">
            <label for="password">Another label</label>
            <input type="text" class="form-control" name="password" placeholder="Another input">
        </div>
        <br><br><br>
        <button class="button" href="./dashboard">Login</button>
        <a href="./register"><button type="button" class="btn btn-primary">HEllo</button> </a>
        <a href="#">Forgot Password</a>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>